@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-height: 600px;
    position: relative;
    font-family: "Poppins", sans-serif;
}

main {
    height: auto;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    width: 45%;
    position: absolute;
    left: 100px;
    height: 100%;
    min-width: 510px;
}

.slogan {
    font-size: 60px;
    color: #FCCB00;
    font-weight: bold;
    line-height: 1;
}

#cadre_p {
    color: white;
    text-align: left;
    width: 100%;
}

#paragraphe {
    margin: 0;
    font-size: 20px;
}

.vialle-construction {
    color: #FCCB00;
    font-weight: bold;
    font-size: 25px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

.realisation,
.savoir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: solid 1px #FCCB00;
    padding: 10px;
    border-radius: 15px;
}

.realisation span,
.savoir span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 25px;
    color: white;
    transition: 1s;
    text-align: center;
    white-space: nowrap;
}

.savoir {
    flex-direction: row;
    background-color: #FCCB00;
}

.savoir span {
    color: #000832;
}

.video {
    background: url('../fond_secour.webp') no-repeat center center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
}

video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
    display: none;
}

.fond {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(0.3);
}

@media (max-width: 1000px) {
    .container_accueil {
        position: relative;
        left: 0;
        width: 80%;
        min-width: auto;
    }

    .realisation span,
    .savoir span {
        font-size: 20px;
    }
}

@media (max-width: 660px) {
    main {
        padding: 50px 0;
    }

    .container_accueil {
        align-items: center;
    }

    .slogan {
        font-size: 40px;
        text-align: center;
    }

    .btns {
        gap: 10px;
    }

    .fond {
        display: flex;
    }

    .video {
        display: none;
    }
}